In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ks_2samp
np.random.seed(42)

##Predict whether a telecom customer will churn (leave) next month

In [9]:
##read and describe the data 

df = pd.read_csv("/Users/shiva/Downloads/WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.info(memory_usage='deep')
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 6.8 MB

(7043, 21)

In [5]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [7]:
##Predict whether a telecom customer will churn (leave) next month
df.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [11]:
##dataframe memory optimization

float_cols = df.select_dtypes(include=['float64']).columns
int_cols = df.select_dtypes(include=['int64']).columns

df[float_cols] = df[float_cols].astype('float32')
df[int_cols] = df[int_cols].astype('int32')

print("Memory optimization of column types:")
df.info(memory_usage='deep')

Memory optimization of column types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int32
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int32
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float32
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float32(1), int32(2), object(18)
memory usage: 6.7 MB

In [13]:
##Parse transaction timestamp and derive features
##Dop unecessary ID/PII columns - Purpose: Remove columns that leak information or have no predictive value. 
##Why: IDs and PII add noise or risk leakage but rarely generalize.


df.drop(columns=['customerID','PaperlessBilling'],inplace=True)
df.columns
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int32
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int32
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaymentMethod     7043 non-null   object
 16  MonthlyCharges    7043 non-null   float32
 17  TotalCharges      7043 non-null   object
 18  Churn             7043 non-null   object
dtypes: float32(1), int32(2), object(16)
memory usage: 6.0 MB

In [18]:
# churn_ratio = df['Churn'].mean()
# print(f"Churn fraction: {churn_ratio:.6f} ({churn_ratio*100:.3f}% )")

##Target imbalance
df['Churn'].value_counts()

Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [19]:
df.dtypes.value_counts()

object     16
int32       2
float32     1
Name: count, dtype: int64

In [20]:
##Missing value summary
missing_pct = df.isna().mean().sort_values(ascending=False)
print(missing_pct[missing_pct>0])

Series([], dtype: float64)

In [21]:
##Categorical Cardinality
cat_cols = df.select_dtypes(include=['object']).columns
df[cat_cols].nunique().sort_values(ascending=False)

TotalCharges        6531
PaymentMethod          4
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
gender                 2
Partner                2
Dependents             2
PhoneService           2
Churn                  2
dtype: int64

In [22]:
##Basic Statistics and outlier
##summarize distributions and sport anamolieis

df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
gender,7043,2,Male,3555,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SeniorCitizen,7043.0,NaN,NaN,NaN,0.162147,0.368612,0.0,0.0,0.0,0.0,1.0
Partner,7043,2,No,3641,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dependents,7043,2,No,4933,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tenure,7043.0,NaN,NaN,NaN,32.371149,24.559481,0.0,9.0,29.0,55.0,72.0
PhoneService,7043,2,Yes,6361,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MultipleLines,7043,3,No,3390,NaN,NaN,NaN,NaN,NaN,NaN,NaN
InternetService,7043,3,Fiber optic,3096,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OnlineSecurity,7043,3,No,3498,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OnlineBackup,7043,3,No,3088,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DeviceProtection,7043,3,No,3095,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TechSupport,7043,3,No,3473,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StreamingTV,7043,3,No,2810,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StreamingMovies,7043,3,No,2785,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Contract,7043,3,Month-to-month,3875,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PaymentMethod,7043,4,Electronic check,2365,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MonthlyCharges,7043.0,NaN,NaN,NaN,64.761696,30.090048,18.25,35.5,70.349998,89.849998,118.75
TotalCharges,7043,6531,,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Churn,7043,2,No,5174,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
    # Class counts & ratios
    counts = df['Churn'].value_counts()
    ratios = df['Churn'].value_counts(normalize=True)
    print(pd.concat([counts, ratios], axis=1, keys=['count','ratio']))

       count    ratio
Churn
No      5174  0.73463
Yes     1869  0.26537

In [26]:
##Leakage checks

# ✅ Only use numeric columns for correlation
# numeric_cols = df.select_dtypes(include=['int32']).columns
# num_corr = df[numeric_cols].corr()['Churn'].abs().sort_values(ascending=False)

# print("Top numeric correlations:")
# print(num_corr.head(10))

cat_cols = df.select_dtypes(include=['object']).columns

for col in cat_cols:
    try:
        if df.groupby(col)['Churn'].nunique().eq(1).all():
            print(f"⚠️ Potential leakage in '{col}' — perfect predictor")
    except Exception as e:
        print(f"Could not evaluate column {col}: {e}")

⚠️ Potential leakage in 'Churn' — perfect predictor

In [27]:
dup_count = df.duplicated().sum()
print(f"Duplicate rows: {dup_count}")
if dup_count > 0:
    df.drop_duplicates(inplace=True)
    print("Duplicates dropped")

Duplicate rows: 34
Duplicates dropped

In [31]:
import pyarrow
df.to_parquet(r'/Users/shiva/Downloads/telco_customer_cleaned.parquet', index=False)
print("Cleaned data saved to 'telco_customer_cleaned.parquet'")

Cleaned data saved to 'telco_customer_cleaned.parquet'

In [32]:
##Feature engineering steps
df = pd.read_parquet('/Users/shiva/Downloads/telco_customer_cleaned.parquet')

In [36]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009 entries, 0 to 7008
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7009 non-null   object
 1   SeniorCitizen     7009 non-null   int32
 2   Partner           7009 non-null   object
 3   Dependents        7009 non-null   object
 4   tenure            7009 non-null   int32
 5   PhoneService      7009 non-null   object
 6   MultipleLines     7009 non-null   object
 7   InternetService   7009 non-null   object
 8   OnlineSecurity    7009 non-null   object
 9   OnlineBackup      7009 non-null   object
 10  DeviceProtection  7009 non-null   object
 11  TechSupport       7009 non-null   object
 12  StreamingTV       7009 non-null   object
 13  StreamingMovies   7009 non-null   object
 14  Contract          7009 non-null   object
 15  PaymentMethod     7009 non-null   object
 16  MonthlyCharges    7009 non-null   float32
 17  TotalCharges      7009 non-null   object
 18  Churn             7009 non-null   object
dtypes: float32(1), int32(2), object(16)
memory usage: 6.0 MB

In [37]:
# Impute missing values if present (example: none expected)
# Numeric: median, Categorical: mode or 'Unknown'
for col in df.columns:
    if df[col].isna().sum() > 0:
        if df[col].dtype in ['float32','float64','int32','int64']:
            df[col].fillna(df[col].median(), inplace=True)
        else:
            df[col].fillna('Unknown', inplace=True)
print("Missing values after imputation:", df.isna().sum().sum())

Missing values after imputation: 0

In [53]:
##Encoding categorical variables
from sklearn.preprocessing import LabelEncoder

df.columns
if 'gender' in df.columns:
    df['gender_enc'] = LabelEncoder().fit_transform(df['gender'])
    df.drop(columns=['gender'], inplace=True)
if 'Partner' in df.columns:
    df['partner_enc'] = LabelEncoder().fit_transform(df['Partner'])
    df.drop(columns=['Partner'], inplace=True)
if 'Dependents' in df.columns:
    df['dep_enc'] = LabelEncoder().fit_transform(df['Dependents'])
    df.drop(columns=['Dependents'], inplace=True)
if 'PhoneService' in df.columns:
    df['phoneservice_enc'] = LabelEncoder().fit_transform(df['PhoneService'])
    df.drop(columns=['PhoneService'], inplace=True)
if 'OnlineSecurity' in df.columns:
    df['onlineSec_enc'] = LabelEncoder().fit_transform(df['OnlineSecurity'])
    df.drop(columns=['OnlineSecurity'], inplace=True)
if 'OnlineBackup' in df.columns:
    df['onlinebkp_enc'] = LabelEncoder().fit_transform(df['OnlineBackup'])
    df.drop(columns=['OnlineBackup'], inplace=True)
if 'DeviceProtection' in df.columns:
    df['deviceProtection_enc'] = LabelEncoder().fit_transform(df['DeviceProtection'])
    df.drop(columns=['DeviceProtection'], inplace=True)
if 'TechSupport' in df.columns:
    df['techsupport_enc'] = LabelEncoder().fit_transform(df['TechSupport'])
    df.drop(columns=['TechSupport'], inplace=True)
if 'Churn' in df.columns:
    df['churn_enc'] = LabelEncoder().fit_transform(df['Churn'])
    df['churn']=df['churn_enc']
    df.drop(columns=['Churn_enc'], inplace=True)
    
if 'StreamingTV' in df.columns:
    df['streaming_enc'] = LabelEncoder().fit_transform(df['StreamingTV'])
    df.drop(columns=['StreamingTV'], inplace=True)
if 'StreamingMovies' in df.columns:
    df['streamMovies_enc'] = LabelEncoder().fit_transform(df['StreamingMovies'])
    df.drop(columns=['StreamingMovies'], inplace=True)
if 'StreamingMovies' in df.columns:
    df['streamMovies_enc'] = LabelEncoder().fit_transform(df['StreamingMovies'])
    df.drop(columns=['StreamingMovies'], inplace=True)

In [54]:
# # One-hot for low-cardinality 'category'
df = pd.concat([df, pd.get_dummies(df['InternetService'], prefix='cat', drop_first=True)], axis=1)
df = pd.concat([df, pd.get_dummies(df['Contract'], prefix='cat', drop_first=True)], axis=1)
df = pd.concat([df, pd.get_dummies(df['PaymentMethod'], prefix='cat', drop_first=True)], axis=1)
df.drop(columns=['PaymentMethod','InternetService','Contract'], inplace=True)

,SeniorCitizen,tenure,MultipleLines,InternetService,Contract,PaymentMethod,MonthlyCharges,TotalCharges,gender_enc,partner_enc,dep_enc,phoneservice_enc,onlineSec_enc,onlinebkp_enc,deviceProtection_enc,techsupport_enc,streaming_enc,streamMovies_enc,churn_enc
0,0,1,No phone service,DSL,Month-to-month,Electronic check,29.850000,29.85,0,1,0,0,0,2,0,0,0,0,0
1,0,34,No,DSL,One year,Mailed check,56.950001,1889.5,1,0,0,1,2,0,2,0,0,0,0
2,0,2,No,DSL,Month-to-month,Mailed check,53.849998,108.15,1,0,0,1,2,2,0,0,0,0,1
3,0,45,No phone service,DSL,One year,Bank transfer (automatic),42.299999,1840.75,1,0,0,0,2,0,2,2,0,0,0
4,0,2,No,Fiber optic,Month-to-month,Electronic check,70.699997,151.65,0,0,0,1,0,0,0,0,0,0,1